@model MyLeasing.Web.Data.Entity.Lessee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lessee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Fixed_Phone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Fixed_Phone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Cell_Phone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cell_Phone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
